@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');

:root {
  --pink: rgb(239, 71, 111);
  --yellow: rgb(255, 209, 102);
  --green: rgb(6, 214, 160);
  --blue: rgb(17, 138, 178);
  --dark: rgb(7, 59, 76);
  --white: rgb(255, 255, 255);
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.btn {
  display: inline-block;
  align-self: last baseline;
  padding: 5px 10px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  transition: 0.3s all ease-in-out;
  color: var(--white);
  background-color: var(--blue);
}

.uppercase {
  text-transform: uppercase;
}

/* NAVIGATION */

nav ul {
  display: flex;
  justify-content: flex-end;
  padding: 0 30px;
  list-style: none;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
}

nav ul li a.active {
  text-decoration: underline;
}

.nav-photo {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  margin-left: 10px;
}

.user-name {
  margin-left: 10px;
}

.homepage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.homepage a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage a {
  font-size: 2rem;
}

/* LOGIN PAGE */

.login-page {
  display: flex;
  padding-top: 10vh;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form>* {
  margin-bottom: 20px;
  padding: 10px;
}

.btn-sign {
  background-color: var(--pink);
  color: var(--white);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}

.btn-sign:hover {
  opacity: 0.95;
}

.btn-sign:active {
  transform: scale(0.98);
}

/* TODO PRESENTATION, WILL INCLUDE EDIT*/

.all-todos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.todo-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 20px;
  width: 400px;
  border-bottom: 1px solid #282c34;
  padding: 20px 0;
}

.todo-create {
  border-bottom: none;
}


.textarea-show {
  width: 100%;
  border: none;
  resize: none;
}

.modal {
  position: fixed;
  top: 20%;
  left: 20%;
  right: 20%;
  bottom: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--blue);
  z-index: 9999;
  transition: 0.3s all ease-in-out;
  border-radius: 8px;
  padding: 10px;
}

.modal-content {
  width: 600px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-content h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.modal-content textarea {
  width: 100%;
  height: 200px;
  border: none;
  resize: none;
  margin-bottom: 20px;
  border: 1px solid var(--blue);
  padding: 10px;
}

.type-text {
  text-transform: capitalize;
}

.modal-btn-create {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  transition: 0.3s all ease-in-out;
  color: var(--white);
  background-color: var(--blue);
  border-radius: 8px;
}

.show {
  transform: translateY(0%);
}

.hide {
  transform: translateY(-200%);
}

.switch-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.switch-container p {
  margin-left: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--pink);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: var(--green);
}

input:focus+.slider {
  box-shadow: 0 0 1px var(--green);
}

input:checked+.slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Additional styling for close button, if needed */
.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--white);
}

.close-button:hover {
  color: var(--pink);
}

/* NON FOUND PAGE */

.container-notfound {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gif {
  display: flex;
  justify-content: center;
}

.content {
  text-align: center;
  margin: 3rem 0;
}

.content .main-heading {
  font-size: 2.5rem;
  font-weight: 700;
}

p {
  font-size: 1.3rem;
  padding: 0.7rem 0;
}

.btn-back {
  padding: 1rem;
  border-radius: 15px;
  outline: none;
  border: none;
  background: #0046d4;
  color: #fff;
  font-size: 1.3rem;
  cursor: pointer;
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

/* pagination */

.pagination {
  text-align: center;
  margin-top: 20px;
}

.pagination>li {
  display: inline-block;
  padding-left: 0;
  cursor: pointer;
}

.pagination>li {
  list-style: none;
}

.pagination>li>a, .pagination>li>span {
  position: relative;
  float: left;
  padding: 9px 16px;
  line-height: 1.42857143;
  text-decoration: none;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  margin-left: 5px;
}

.pagination>li.active>a {
  color: var(--pink);
  border: 1px solid var(--pink);

}

/* Style the active class (and buttons on mouse-over) */
.pagination>li>a:hover {
  color: var(--pink);
  border: 1px solid var(--pink);
}

.pagination>li:first-child>a, .pagination>li:first-child>span {
  margin-left: 0;
  padding: 0px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  display: none !important;
}

.pagination>li:last-child>a, .pagination>li:last-child>span {
  border-bottom-right-radius: 4px;
  margin-right: 0;
  padding: 0px !important;
  border-top-right-radius: 4px;
  display: none !important;
}

@media (max-width: 768px) {
  .homepage a {
    font-size: 1.5rem;
  }

  .login-form {
    width: 90%;
  }
}